<!-- .blog -->
<div id="blog" class="content_2">
<h1 class="h-bloc">Few Popular Articles Written By Me</h1><br>

<div class="col-md-12">
    <div class="row">

        <!-- Page Blog -->
        <div class="col-md-12" id="blog_page">
            <!-- start Page Blog -->
            <section id="blog-page">

                <!-- Post 1 -->
                <article id="post-3" class="blog-article">                    

                    <div class="col-md-12">

                        <div class="row">

                            <div class="col-md-12 post_media">

                                <div class="post-format-icon">
                                    <a href="#" class="item-date"><span class="fa fa-picture-o"></span></a>
                                </div>

                                <div class="media">
                                    <div class="he-wrap tpl2">
                                        <img src="images/blog/blog-4.jpg" class="img-hover" alt="" />
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 post_content">
                                <div class="content post_format_standart">
                                    <div class="top_c ">

                                        <div class="title_content">
                                            <div class="text_content"><a href="#post-3" class="read_more">Does the size of RAM affect speed of computer? If yes, how?</a></div>
                                            <div class="clear"></div>
                                        </div>

                                        <ul class="info">
                                            <li><i class="glyphicon glyphicon-comment"></i> 100+ Comments</li>
                                            <li><i class="glyphicon glyphicon-time"></i> November 09, 2015</li>
                                            <li><i class="glyphicon glyphicon-eye-open"></i> 375k Views</li>
                                            <li><i class="glyphicon glyphicon-thumbs-up"></i> 15.8k Upvotes in Quora</li>
                                        </ul>

                                        <div class="blog-content">
                                            <p><i class="fa fa-quote-left"></i> Well, in some cases it does and in some it does NOT affect the speed of the computer.
                                                Let me explain this metaphorically. There is a street food in India called
                                                Pani-Puri (also Golgappa). <strong>A little information about this street food.
                                                </strong> (Skip this paragraph and the next if you already know about it!)
                                                Immediately after a request, the vendor hands the customer a plate...</p></div>
                                    </div>
                                </div>	

                                <a href="http://bit.ly/2GRDTWg" target="_blank" class="pull-right">Read More <i class='glyphicon glyphicon-chevron-right'></i></a>

                            </div>
                        </div>

                    </div>
                </article>

                <!-- End Post 1 -->

                <div class="clear"></div>

                <!-- Post 2 -->
                <article id="post-3" class="blog-article">

                    <div class="col-md-12">

                        <div class="row">

                            <div class="col-md-12 post_media">

                                <div class="post-format-icon">
                                    <a href="#" class="item-date"><span class="fa fa-picture-o"></span></a>
                                </div>

                                <div class="media">
                                    <div class="he-wrap tpl2">
                                        <img src="images/blog/blog-3.jpg" class="img-hover" alt="" />
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 post_content">
                                <div class="content post_format_standart">
                                    <div class="top_c ">

                                        <div class="title_content">
                                            <div class="text_content"><a href="#post-3" class="read_more">What are some of the best photos taken at the right moment?</a></div>
                                            <div class="clear"></div>
                                        </div>

                                        <ul class="info">
                                            <li><i class="glyphicon glyphicon-comment"></i> 56 Comments</li>
                                            <li><i class="glyphicon glyphicon-time"></i> November 24, 2015</li>
                                            <li><i class="glyphicon glyphicon-eye-open"></i> 90,000 Views</li>
                                            <li><i class="glyphicon glyphicon-thumbs-up"></i> 4.5k Upvotes in Quora</li>
                                        </ul>

                                        <div class="blog-content">
                                            <p><i class="fa fa-quote-left"></i> My story is about the image above. Pretty simple, right? Looks like yet another day.
                                                But wait, did you notice something peculiar above?
                                                You might be wondering why are the street lights lit up (4 of them in this pic)
                                                on a sunny day! And that's the thing which makes it special. I took this
                                                image at around...</p></div>
                                    </div>
                                </div>

                                <a href="http://bit.ly/2oFFMOi" target="_blank" class="pull-right">Read More <i class='glyphicon glyphicon-chevron-right'></i></a>

                            </div>
                        </div>

                    </div>
                </article>

                <!-- End Post 2 -->

                <div class="clear"></div>

                <!-- Post 3 -->
                <article id="post-3" class="blog-article">

                    <div class="col-md-12">

                        <div class="row">

                            <div class="col-md-12 post_media">

                                <div class="post-format-icon">
                                    <a href="#" class="item-date"><span class="fa fa-picture-o"></span></a>
                                </div>

                                <div class="media">
                                    <div class="he-wrap tpl2">
                                        <img src="images/blog/blog-2.jpg" class="img-hover" alt="" />
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 post_content">
                                <div class="content post_format_standart">
                                    <div class="top_c ">

                                        <div class="title_content">
                                            <div class="text_content"><a href="#post-3" class="read_more">Who is the most underrated person of Hollywood in India?</a></div>
                                            <div class="clear"></div>
                                        </div>

                                        <ul class="info">
                                            <li><i class="glyphicon glyphicon-comment"></i> 12 Comments</li>
                                            <li><i class="glyphicon glyphicon-time"></i> August 21, 2016</li>
                                            <li><i class="glyphicon glyphicon-eye-open"></i> 44,300 Views</li>
                                            <li><i class="glyphicon glyphicon-thumbs-up"></i> 674 Upvotes in Quora</li>
                                        </ul>

                                        <div class="blog-content">
                                            <p><i class="fa fa-quote-left"></i> He is an actor everyone has seen, but none (or very few) of us know his name.
                                                He is the guy who was “Incepted” in Inception:
                                                He is the same guy who passed the judgment in The Dark Knight Rises:
                                                To remind you (in short, not exact words):
                                                Judge: So what will it be, death...</p></div>
                                    </div>
                                </div>

                                <a href="http://bit.ly/2FDiuRj" target="_blank" class="pull-right">Read More <i class='glyphicon glyphicon-chevron-right'></i></a>

                            </div>
                        </div>

                    </div>
                </article>

                <!-- End Post 3 -->

                <div class="clear"></div>

                <!-- Post 4 -->
                <article id="post-3" class="blog-article">

                    <div class="col-md-12">

                        <div class="row">

                            <div class="col-md-12 post_media">

                                <div class="post-format-icon">
                                    <a href="#" class="item-date"><span class="fa fa-picture-o"></span></a>
                                </div>

                                <div class="media">
                                    <div class="he-wrap tpl2">
                                        <img src="images/blog/blog-1.jpg" class="img-hover" alt="" />
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 post_content">
                                <div class="content post_format_standart">
                                    <div class="top_c ">

                                        <div class="title_content">
                                            <div class="text_content"><a href="#post-3" class="read_more">What are some unknown facts about Google Maps?</a></div>
                                            <div class="clear"></div>
                                        </div>

                                        <ul class="info">
                                            <li><i class="glyphicon glyphicon-comment"></i> 15 Comments</li>
                                            <li><i class="glyphicon glyphicon-time"></i> March 23, 2016</li>
                                            <li><i class="glyphicon glyphicon-eye-open"></i> 32,800 Views</li>
                                            <li><i class="glyphicon glyphicon-thumbs-up"></i> 773 Upvotes in Quora</li>
                                        </ul>

                                        <div class="blog-content">
                                            <p><i class="fa fa-quote-left"></i>An apparent murder was accidentally captured in google maps!
                                                In 2013, a redditor discovered something unusual while zooming
                                                into a place near his neighborhood in google earth:
                                                It looked like a man was dragging a dead body into the...</p></div>
                                    </div>
                                </div>

                                <a href="http://bit.ly/2F3zNOn" target="_blank" class="pull-right">Read More <i class='glyphicon glyphicon-chevron-right'></i></a>

                            </div>
                        </div>

                    </div>
                </article>

                <!-- End Post 4 -->

                <div class="clear"></div>

                <!-- Post 5 -->
                <article id="post-3" class="blog-article">

                    <div class="col-md-12">

                        <div class="row">

                            <div class="col-md-12 post_media">

                                <div class="post-format-icon">
                                    <a href="#" class="item-date"><span class="fa fa-picture-o"></span></a>
                                </div>

                                <div class="media">
                                    <div class="he-wrap tpl2">
                                        <img src="images/blog/blog-5.jpg" class="img-hover" alt="" />
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 post_content">
                                <div class="content post_format_standart">
                                    <div class="top_c ">

                                        <div class="title_content">
                                            <div class="text_content"><a href="#post-3" class="read_more">Why don't Flipkart and Amazon.in have the Paytm payment option?</a></div>
                                            <div class="clear"></div>
                                        </div>

                                        <ul class="info">
                                            <li><i class="glyphicon glyphicon-comment"></i> 10 Comments</li>
                                            <li><i class="glyphicon glyphicon-time"></i> November 10, 2015</li>
                                            <li><i class="glyphicon glyphicon-eye-open"></i> 63,200 Views</li>
                                            <li><i class="glyphicon glyphicon-thumbs-up"></i> 182 Upvotes in Quora</li>
                                        </ul>

                                        <div class="blog-content">
                                            <p><i class="fa fa-quote-left"></i>If you think it's Amazon/Flipkart not wanting to use Paytm in
                                                their websites, you have a grave misconception. It's Paytm themselves!
                                                Paytm gives huge Cashbacks these days if you buy expensive products.
                                                I have seen Cashbacks as much as ₹2,000 for products worth...</p></div>
                                    </div>
                                </div>

                                <a href="http://bit.ly/2EZoNBQ" target="_blank" class="pull-right">Read More <i class='glyphicon glyphicon-chevron-right'></i></a>

                            </div>
                        </div>

                    </div>
                </article>

                <!-- End Post 5 -->

                <div class="clear"></div>

                <!-- Post 6 -->
                <article id="post-3" class="blog-article">

                    <div class="col-md-12">

                        <div class="row">

                            <div class="col-md-12 post_media">

                                <div class="post-format-icon">
                                    <a href="#" class="item-date"><span class="fa fa-picture-o"></span></a>
                                </div>

                                <div class="media">
                                    <div class="he-wrap tpl2">
                                        <img src="images/blog/blog-6.jpg" class="img-hover" alt="" />
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 post_content">
                                <div class="content post_format_standart">
                                    <div class="top_c ">

                                        <div class="title_content">
                                            <div class="text_content"><a href="#post-3" class="read_more">What cool or useful skills can be learned in five minutes?</a></div>
                                            <div class="clear"></div>
                                        </div>

                                        <ul class="info">
                                            <li><i class="glyphicon glyphicon-comment"></i> 33 Comments</li>
                                            <li><i class="glyphicon glyphicon-time"></i> November 26, 2015</li>
                                            <li><i class="glyphicon glyphicon-eye-open"></i> 59,700 Views</li>
                                            <li><i class="glyphicon glyphicon-thumbs-up"></i> 2.2k Upvotes in Quora</li>
                                        </ul>

                                        <div class="blog-content">
                                            <p><i class="fa fa-quote-left"></i>Is your internet good enough to buffer YouTube videos? If yes,
                                                then while downloading a torrent movie/video, you don't
                                                need to wait for the whole thing to download. You can buffer
                                                it the same way while it's downloading. You don't have to...</p></div>
                                    </div>
                                </div>

                                <a href="http://bit.ly/2F4ndKM" target="_blank" class="pull-right">Read More <i class='glyphicon glyphicon-chevron-right'></i></a>

                            </div>
                        </div>

                    </div>
                </article>

                <!-- End Post 6 -->

                <div class="clear"></div>

                <!-- Post 7 -->
                <article id="post-3" class="blog-article">

                    <div class="col-md-12">

                        <div class="row">

                            <div class="col-md-12 post_media">

                                <div class="post-format-icon">
                                    <a href="#" class="item-date"><span class="fa fa-picture-o"></span></a>
                                </div>

                                <div class="media">
                                    <div class="he-wrap tpl2">
                                        <img src="images/blog/blog-7.jpg" class="img-hover" alt="" />
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 post_content">
                                <div class="content post_format_standart">
                                    <div class="top_c ">

                                        <div class="title_content">
                                            <div class="text_content"><a href="#post-3" class="read_more">What is the most interesting fact you know about a movie?</a></div>
                                            <div class="clear"></div>
                                        </div>

                                        <ul class="info">
                                            <!--<li><i class="glyphicon glyphicon-comment"></i> 33 Comments</li>-->
                                            <li><i class="glyphicon glyphicon-time"></i> July 6, 2016</li>
                                            <li><i class="glyphicon glyphicon-eye-open"></i> 3,300 Views</li>
                                            <li><i class="glyphicon glyphicon-thumbs-up"></i> 24 Upvotes in Quora</li>
                                        </ul>

                                        <div class="blog-content">
                                            <p><i class="fa fa-quote-left"></i>Remember that scene in Matrix Reloaded where Trinity
                                                hacks into a power station’s computer? That’s actually
                                                an accurate portrayal of a hack exploiting a real SSH
                                                vulnerability. Somewhere in the second half of the...</p></div>
                                    </div>
                                </div>

                                <a href="http://bit.ly/2t5OBXi" target="_blank" class="pull-right">Read More <i class='glyphicon glyphicon-chevron-right'></i></a>

                            </div>
                        </div>

                    </div>
                </article>

                <!-- End Post 7 -->

                <div class="clear"></div>

                <!-- Post 8 -->
                <article id="post-3" class="blog-article">

                    <div class="col-md-12">

                        <div class="row">

                            <div class="col-md-12 post_media">

                                <div class="post-format-icon">
                                    <a href="#" class="item-date"><span class="fa fa-picture-o"></span></a>
                                </div>

                                <div class="media">
                                    <div class="he-wrap tpl2">
                                        <img src="images/blog/blog-8.jpg" class="img-hover" alt="" />
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 post_content">
                                <div class="content post_format_standart">
                                    <div class="top_c ">

                                        <div class="title_content">
                                            <div class="text_content"><a href="#post-3" class="read_more">Who is the unluckiest physicist ever?</a></div>
                                            <div class="clear"></div>
                                        </div>

                                        <ul class="info">
                                            <li><i class="glyphicon glyphicon-comment"></i> 83 Comments</li>
                                            <li><i class="glyphicon glyphicon-time"></i> November 2, 2015</li>
                                            <li><i class="glyphicon glyphicon-eye-open"></i> 90,800 Views</li>
                                            <li><i class="glyphicon glyphicon-thumbs-up"></i> 4.7k Upvotes in Quora</li>
                                        </ul>

                                        <div class="blog-content">
                                            <p><i class="fa fa-quote-left"></i>According to me, it was none other than Nikola Tesla.
                                                He had major contributions in the discovery of Remote
                                                Control, Neon Lighting, Modern Electric Motor, Wirelss
                                                Communications, and most importantly, the Alternating Current but...</p></div>
                                    </div>
                                </div>

                                <a href="http://bit.ly/2FcAzb6" target="_blank" class="pull-right">Read More <i class='glyphicon glyphicon-chevron-right'></i></a>

                            </div>
                        </div>

                    </div>
                </article>

                <!-- End Post 8 -->





            </section>

            <!-- End Page Blog -->
        </div>


        <!--<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">-->
            <!--<div class="modal-dialog modal-sm">-->
                <!--<div class="modal-content">-->
                    <!--<div class="modal-header">-->
                        <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
                        <!--<h3 class="modal-title h3_modal" style="color: #fff !important;">FlexyVcard - Responsive Vcard Template</h3>-->
                    <!--</div>-->
                    <!--<div class="modal-body">-->
                        <!--<p>FlexyVcard is an impressive and professional online vcard, a beautiful portfolio with sliding effect, resume and contact information with Google map.</p>-->
                        <!--<p>It’s simple! Just download and install in a few minutes, you can show your online card to your friend, customer or employer in an interview by phone or tablet. Because FlexyVcard is a responsive template, you can view your website on pc as well as handheld devices. You can also link to your social profiles, display your portfolio in many media format such as image, youtube video, flash...</p>-->
                    <!--</div>-->
                    <!--<div class="modal-footer">-->
                        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

    </div>
</div>
                                            </div>
                                            <!-- End .blog -->