<!-- .contact -->
<div id="contact" class="content_2">
        
<h1 class="h-bloc">Contact - Contact Me</h1>


<div class="row">

    <div class="col-lg-12">
        <div id="map">
            <a href="http://bit.ly/2CYbxHt" target="_blank"><img style="width: 100%" src="images/map.png"></a>
        </div>
    </div>  

    <div class="col-lg-12">
        <div class="row" id="contact-user">
            <div class="col-md-5">
                <div class="contact-info">
                    <!--<h3 class="main-heading"><span>Contact info</span></h3>-->

                    <div class="title_content" style="float: none;">
                        <div class="text_content">Contact info</div>
                        <div class="clear"></div>
                    </div>

                    <ul>
                        <li><span class="span-info"><i class="glyphicon glyphicon-map-marker"></i> Adress:</span>P G Vejdes Väg 12, LGH 1209, Växjö , Sweden<br /><br /></li>
                        <li><span class="span-info"><i class="glyphicon glyphicon-envelope"></i> Email:</span> hello@prasannjeet.com</li>
                        <li><span class="span-info"><i class="glyphicon glyphicon-phone"></i> Phone:</span> +46 700 617 660</li>
                        <li><span class="span-info"><i class="glyphicon glyphicon-globe"></i> Website:</span> http://prasannjeet.github.io</li>
                        <li><span class="span-info"><i class="glyphicon glyphicon-comment"></i> Skype:</span> prasannjeet</li>
                    </ul>
                </div>
                <!-- /Contact Info -->
                <div class="clear"></div>

                <!--<h3 class="main-heading" style="margin-left: 22px;"><span>Follow me</span></h3>-->

                <div class="title_content tiltle_contacts" style="float: none;">
                    <div class="text_content">Social Profiles</div>
                    <div class="clear"></div>
                </div>

            

                    <div id="profile_social">
                        <a href="http://facebook.com/9prasannjeet"><i class="fa fa-facebook"></i></a>
                        <a href="http://twitter.com/prasannjeet"><i class="fa fa-twitter"></i></a>
                        <a href="http://linkedin.com/in/prasannjeet"><i class="fa fa-linkedin"></i></a>
                        <div class="clear"></div>
                    </div>
      


            </div>

            <!--<div class="col-md-7">-->
                <!--&lt;!&ndash; Contact Form &ndash;&gt;-->
                <!--<div class="title_content" style="float: none;">-->
                    <!--<div class="text_content">Contact Me</div>-->
                    <!--<div class="clear"></div>-->
                <!--</div>-->

                <!--<div class="contact-form">-->
                    <!--&lt;!&ndash;<h3 class="main-heading"><span>Let's keep in touch</span></h3>&ndash;&gt;-->



                    <!--<div id="contact-status"></div>-->

                    <!--<form action="#" id="contactform">-->
                        <!--<p class="form-group" id="contact-name">-->
                            <!--<label for="name">Your Name</label>-->
                            <!--<input type="text" name="name" class="form-control name-contact" id="name" placeholder="Name..." />-->
                        <!--</p>-->
                        <!--<p class="form-group" id="contact-email"> -->
                            <!--<label for="email">Your Email</label>-->
                            <!--<input type="text" name="email" class="form-control email-contact" id="email" placeholder="Email..." />-->
                        <!--</p>-->

                        <!--<p class="form-group" id="contact-message">-->
                            <!--<label for="message">Your Message</label>-->
                            <!--<textarea name="message" cols="88" rows="6" class="form-control message-contact" id="message" placeholder="Message..."></textarea>-->
                        <!--</p>-->
                        <!--<input type="reset" name="reset" value="CLEAR" class="reset">-->
                        <!--&lt;!&ndash; <input type="submit" name="submit" value="SEND MESSAGE" class="submit">&ndash;&gt;-->

                        <!--<section class="button-demo" style="display: inline-block;">-->
                            <!--<button class="ladda-button submit send_email" name="submit" data-color="green" data-style="expand-left">SEND MESSAGE</button>-->
                        <!--</section>-->

                    <!--</form>-->
                <!--</div>-->
                <!--&lt;!&ndash; /Contact Form &ndash;&gt;-->
            <!--</div>-->
        </div>
    </div>  

</div>                                            
</div>
    <!-- End .contact -->