<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Resume - Personal Info</h1> 

<div class="row">

   <!-- .resume-right -->
    <div class="col-md-6">
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Programming Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="95%">
                <div class="skillbar-title"><span>Java</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>C++</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="70%">
                <div class="skillbar-title"><span>HTML CSS Javascript</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="70%">
                <div class="skillbar-title"><span>Bootstrap</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="50%">
                <div class="skillbar-title"><span>MEAN Stack</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">50%</div>
            </div>
            <!-- /.skillbar -->
        </div>
        
         
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Other Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
            
        <div class="skills">       
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>Agile Methodologies</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="70%">
                <div class="skillbar-title"><span>Version Control - GIT</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="70%">
                <div class="skillbar-title"><span>Wordpress</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="65%">
                <div class="skillbar-title"><span>JUnit</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">65%</div>
            </div>
            <!-- /.skillbar -->
            <!-- .skillbar -->

            <div class="skillbar clearfix " data-percent="40%">
                <div class="skillbar-title"><span>Tableau</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">40%</div>
            </div>
            <!-- /.skillbar -->

		</div>


        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Designs skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>Photoshop</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>

            <!-- /.skillbar -->
        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Language Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>Hindi</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="80%">
                <div class="skillbar-title"><span>English</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="50%">
                <div class="skillbar-title"><span>Swedish</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">25%</div>
            </div>
            <!-- /.skillbar -->
        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">My Resume and Trascripts</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .download_resume -->
        <a class="download" style="margin:0;float: left;" href="https://drive.google.com/drive/folders/1jninUfVXUtwzPTQ--k21Ktn3dkO-qAb7?usp=sharing">
            <span data-hover="Download"><i class="glyphicon glyphicon-download-alt"></i> Download</span>
        </a>
        <!-- /.download_resume -->

    </div>
     <!-- /.resume-right -->
     
     
     
     <!-- .resume-left -->
    <div class="col-md-6 resume-left">    
        <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Experience</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Web Developer <span class="duration"><i class="fa fa-calendar color"></i> Dec 2013 - Spet 2015</span></h5>
                <h6><span class="fa fa-briefcase"></span> Earnobies India Pvt Ltd</h6>
                <p><ul>
                <li>
                    As the only developer of the small start-up, worked on the development of a prototype website using elementary concepts of HTML, CSS, PHP and JavaScript. This helped the company secure a Seed-Funding equivalent to around 75,000 US Dollars.
                </li>
                <li>
                    Being a start-up, had many other non-technical responsibilities which taught me how to work in a high pressure, low income, but satisfying environment.
                </li>
            </ul></p>
            </li>
            <li>
                <h5>Front-End Developer <span class="duration"><i class="fa fa-calendar color"></i> 2010 - 2011</span></h5>
                <h6><span class="fa fa-briefcase"></span> Chachacar Pvt Ltd</h6>
                <p><ul><li>Was successfully able to represent a used car in (Virtual Reality) VR in websites for ease of buying a vehicle using a JavaScript 3D Library three.js in the self-owned start-up.</li></ul></p>
            </li>

        </ul>
        <!-- /.attributes -->
        <br>
        
        <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Education</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Master of Science <span class="duration"><i class="fa fa-calendar color"></i> 2017 - 2019 (Expected)</span></h5>
                <h6><span class="fa fa-book"></span> Linnaeus University, Växjö, Sweden</h6>
                <p><ul>
                <li>
                    <strong>Courses</strong><br>
                    Scientific Methods in Computer Science, <strong>Grade A</strong><br>
                    Foundations in Software Technology, <strong>Grade A</strong><br>
                    Compiler Constructions, <strong>Grade A</strong><br>
                    Agile Product Development, <strong>Grade B</strong>
                </li>
            </ul></p>
            </li>
            <li>
                <h5>Bachelor of Technology <span class="duration"><i class="fa fa-calendar color"></i> 2009 - 2014</span></h5>
                <h6><span class="fa fa-book"></span> Manipal University, Manipal, India</h6>
                <p><ul>
                <li>
                    <strong>Important Courses Undertaken</strong><br>
                    ⦿ Data Structures Using C<br>
                    ⦿ Relational Database Management Systems<br>
                    ⦿ Software Engineering<br>
                    ⦿ Design and Analysis of Algorithms<br>
                    ⦿ Computer Graphics and Multimedia<br>
                    ⦿ Operating System and Linux<br>
                    ⦿ Formal Languages and Automata Theory<br>
                    ⦿ Language Processors<br>
                    ⦿ Distributed Systems<br>
                    ⦿ Data Warehousing and Data Mining
                </li>
            </ul></p>
            </li>
        </ul>
        <!-- /.attributes -->
        <br>  
        
        
          <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Other Points Worth Mentioning</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Languages Known <span class="duration"><i class="fa fa-language color"></i></span></h5>
                <!--<h6><span class="fa fa-trophy"></span> Name of Institute</h6>-->
                <p>
                Hindi - Fluent<br>
                English - Fluent<br>
                Swedish - Learning
            </p>
            </li>
            <li>
                <h5>Test Results and Others <span class="duration"><i class="fa fa-calendar color"></i> 2015</span></h5>
                <h6><span class="fa fa-trophy"></span> Graduate Record Examination (GRE)</h6>
                <p>
                    Quantitative Ability: <strong>168 out of 170</strong><br>

                    English: <strong>150 out of 170</strong>

                </p>
                <h6><span class="fa fa-trophy"></span> International English Language Testing System (IELTS)</h6>
                <p>
                    Band Score of 7.0 out of 9.0

                </p>
                <h6><span class="fa fa-keyboard-o"></span> Typing Speed</h6>
                <p>
                    Keyboard : <strong>QWERTY</strong><br>
                    Average Speed Above <strong>90 Words Per Minute</strong>

                </p>
            </li>
  
        </ul>
        <!-- /.attributes -->
        <br>  
        
    </div>
    <!-- /.resume-left -->
</div>

<div style="clear: both"></div>  
  
  
<!-- client reference -->
<!--<div class="row">-->
<!--<div class="col-md-12">   -->
    <!---->
<!--<div class="reference clearfix"> -->
            <!---->
         <!--&lt;!&ndash; .title_content &ndash;&gt;-->
        <!--<div class="title_content" style="margin-bottom:5px">-->
            <!--<div class="text_content">Client reference</div>-->
            <!--<div class="clear"></div>-->
        <!--</div>-->
        <!--&lt;!&ndash; /.title_content &ndash;&gt;-->
        <!---->

        <!--<ul>-->
            <!--<li class="clearfix">-->
                <!--<img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">-->
                <!--<p>“Many desktop publishing packages and web page editors now use Lorem Ipsum as their default will model text, and a search for 'lorem ipsum' hope is uncover many web sites still”</p>-->
                <!--<span>John Doe, UX Designer</span>-->
            <!--</li>-->
            <!--<li class="clearfix">-->
                <!--<img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">-->
                <!--<p>“very nice colleague she always helped me out if i didnt know something editors now use Lorem Ipsum as their default”</p>-->
                <!--<span>Leia Calvi, UX Designer</span>-->
            <!--</li>-->
            <!--<li class="clearfix">-->
                <!--<img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">-->
                <!--<p>“old colleague and now close friend, she is really sweet and helpfull packages and web page editors now use Lorem Ipsum as their default will model text”</p>-->
                <!--<span>Maria Callas, UX Designer</span>-->
            <!--</li>-->
        <!--</ul>-->
<!--</div>-->
<!--</div>-->

     <!---->
<!--<div style="clear: both"></div>   -->
<!--</div>-->

</div>
<!-- End .resume -->